<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MailBee.Global.LicenseKey" value="MN110-7DB5B590B5C3B5D7B5F4B56BC8C8-0D68"/>
  </appSettings>
</configuration>